:root {
    --dmback:black;
    --dmtext: yellowgreen;
    --lmback:lightskyblue;
    --lmtext: rgb(28, 28, 83);
}

body {
    color: var(--lmtext);
    background-color: var(--lmback);
    border-color: var(--lmtext);
}

body.dark-theme {
    color: var(--dmtext);
    background-color: var(--dmback);
    border-color: var(--dmtext);
    
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 15px solid;
    border-bottom-style: dotted;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

h1   {   /*SURIEL*/

    margin: 10px;
    font-size: 50px;
    display: flexbox;
    
    

}

.gossip {     /* A GOSSIP BLOG*/
    margin: 2px;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    display: flexbox;
    border-right: 10px solid;
    border-left: 10px solid;
    border-left-style: double;
    border-right-style: double;

}

h2 {    /*SPILLED TEA*/
    margin: 10px;
    font-size: 30px;
    display: flexbox;    

}



.postBox {
    margin: 2%;
    padding: 15px;
    padding-top: 25px;
    display: flexbox;
    border: 5px solid;

}

.title {  /*BLOG POST TITLE*/
    margin-bottom: 25px;
    padding: 15px;
    font-size: 25px;
    font-weight: 800;
    display: flexbox;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-radius: 50%;

}

.blogPost {     /*BLOG POST BODY */
    margin-top: 25px;
    padding-bottom: 15px;
    font-size: 20px;

}

.author {   /*BLOG POST AUTHOR*/
    margin: 0;
    padding-top: 0;
    font-weight: bold;
    font-size: 20px;
    

}

footer {  /* CONTAINTS THE PROFILE LINK*/
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    color: inherit;
    text-decoration: none;
}
.back {  /*THIS IS MY BACK BUTTON*/
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: var(--lmtext);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: var(--lmback) ;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  


  .back:hover {
    background-color: blueviolet;
  }
  
  .back:active {
    background-color: var(--lmback);
    color: var(--lmtext);
  }

  .toggle input[type='checkbox'] { /*THIS IS PART OF MY TOGGLE BUTTON FOR DARK MODE*/
    display: none;
}

.toggle label {
    background-color: var(--dmback);
    border: 2px solid rgb(32, 30, 30);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 100px;
    height: 50px;
}

.toggle label::after {
    background-color: #555;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 42px;
    height: 42px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: var(--lmback);
    border-color: #006dc9;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(50px);
}
  
